@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  color: #8b7f75;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
  max-height: 0;
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
